{% extends 'base.html' %}
{% block title %}Book rent- Library4U {% endblock %}
{% block content %}
    <style>
        .textinput {
            width: 450px;
        }
    </style>
    <h4>Book rent + 14 days </h4>
    <ul>
        {% for book in book_instance_rent %}
            <li>Title: {{ book.book }}</li>
            <li>Id: {{ book.id }}</li>
            <li>User: {{ book.borrower }}</li>
            <li>Reservation Time: {{ book.reservation_time }}</li>
            </ul>
        {% endfor %}

    <form method="post">
        {% csrf_token %}
        <br>
        <button class="btn btn-success" type="submit">Rent a book</button>
    </form>

{% endblock content %}
