{% extends 'base.html' %}
{% block title %}Book on loan- Library4U {% endblock %}
{% block content %}

    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>

    <h3>Book on loan </h3>
    <table>
        <tr>
            <th>Book name</th>
            <th>User</th>
            <th>User ID</th>
            <th>Book number</th>
            <th>Book due back</th>

            <th>Time to return</th>
            <th>Action</th>
        </tr>

        {% for book in book_on_loan %}
            <tr>
                <td>{{ book.book }} </td>
                <td>{{ book.borrower }}</td>
                <td>{{ book.borrower_id }}</td>
                <td>{{ book.imprint }}</td>
                <td>{{ book.due_back }}</td>

                {% if book.due_back >= today_date %}
                    <td>
                        due back: <span style="color: green">{{ book.due_back|timeuntil:today_date }}</span>
                        {% else %}
                        over due: <span style="color: red">{{ today_date|timeuntil:book.due_back }}</span>
                    </td>
                {% endif %}
                <td><a class="btn btn-success" href="{% url 'book_return' book.id %}">return</a></td>
            </tr>
        {% endfor %}
    </table>
    <br>

{% endblock content %}