{% extends 'base.html' %}

{% block content %}
<h3>dashboard </h3>
      <ul>
    <li><strong>Books:</strong> {{ num_books }}</li>
    <li><strong>Copies:</strong> {{ num_instances }}</li>
    <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
    <li><strong>Authors:</strong> {{ num_autors }}</li>
  </ul>

    <h3>Users</h3>
    <ul>
    {% for user in active_users %}
        <li>{{ user }} {{ user.last_login }}</li>
    {% endfor %}
    </ul>

        <h3>Book reservations <small><a href="{% url 'book_on_reservtion' %}">All</a></small></h3>
    <ul>
    {% for book in instances_reserved %}
        <li>{{ book.book }} - {{ book.borrower }} id {{ book.borrower_id }} book id :{{ book.id}} {{ book.reservation_time }}</li>
    {% endfor %}
    </ul>

            <h3>Book on loan <small><a href="{% url 'book_on_loan' %}">All</a></small></h3>
    <ul>
    {% for book in instances_on_loan %}
        <li>id {{ book.borrower_id }} - {{ book.borrower }} - {{ book.book }}   book id :{{ book.id}} due back date: {{ book.due_back }}
                    {% if book.due_back >= today_date %}
                due back: <span style="color: green">{{ book.due_back|timeuntil:today_date }}</span>
            {% else %}
                over due: <span style="color: red">{{ today_date|timeuntil:book.due_back }}</span>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endblock content %}