{% extends 'base.html' %}
{% block title %} Book reservation- Library4U {% endblock %}
{% block content %}
    <style>
        .textinput {
            width: 450px;
        }
    </style>
    <h4>Book reservation </h4>
    <ul>
        {% for book in book_instance_reservation %}
            <li>Title: {{ book.book }}</li>
            <li>Library book no: {{ book.imprint }}</li>
            </ul>
        {% endfor %}

    <form method="post">
        {% csrf_token %}
        <br>
        <button class="btn btn-success" type="submit">Reserve</button>
    </form>

{% endblock content %}



