{% extends 'base.html' %}

{% block content %}


    {% for book in book_instance_borrower %}
        <h3>Title: {{ book.book }}</h3>
        <img src="{{ book.book.cover.url }}" class="card-img-top" alt="..."

             style="width: 157px;height:250px;display: block;margin: 0 auto;padding-top: 15px;">
        {% if book.status == "o" %}
            <p>Status: on loan</p>
            <p>Due back: {{ book.due_back }}</p>
            {% if book.due_back >= today_date %}
                due back: <span style="color: green">{{ book.due_back|timeuntil:today_date }}</span>
            {% else %}
                over due: <span style="color: red">{{ today_date|timeuntil:book.due_back }}</span>
            {% endif %}
        {% elif book.status == "r" %}
            <p>Status: reservation </p>
        {% endif %}

    {% endfor %}

{% endblock %}

{#            {% if book.book_expiration_date >= today_date %}#}
{#                <span style="color: green">{{ book.book_expiration_date|timeuntil:today_date }}</span>#}
{#            {% elif book.book_expiration_date == None %}#}
{#                <span style="color: red"><strong>Brak książeczki</strong> </span>#}
{#            {% else %}#}
{#                <span style="color: red">{{ today_date|timeuntil:book.book_expiration_date }}#}
{#            {% endif %}#}